@model Misitu.Billing.Dto.CreateBillInput


@{
    ViewBag.ActiveMenu = "Registration"; //The menu item will be active for this page.
    ViewBag.Title = "Activities";
}


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
@using (Html.BeginForm())
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add New Activity for <b>@ViewBag.Dealer.Name</b></h4>
            </div>
            <div class="modal-body">
              
                    <div class="widget-content">
                        <div class="padd">
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Dealer", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input type="hidden" name="DealerId" value="@ViewBag.Dealer.Id" class="form-control" />
                                        <input type="text" value="@ViewBag.Dealer.Name" class="form-control" readonly />
                                        @Html.ValidationMessageFor(model => model.DealerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Activities", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th></th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                            </tr>

                                            @{
                                                foreach (var activity in ViewBag.Activities)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="checkbox" name="ActivityId[]" value="@activity.Id" />
                                                        </td>
                                                        <td>@activity.Description</td>
                                                        <td>@activity.Fee</td>
                                                    </tr>

                                                }
                                            }
                                            @Html.ValidationMessage("ActivityId", "", new { @class = "text-danger" })
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                <input type="submit" value="Add" class="pull-right btn btn-primary" />
            </div>
        </div>
    </div>
                                                }
</div>



<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Dealer Activities</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        
        <div class="padd invoice">
            <p class="pull-right">

                <a href="#myModal" class="btn btn-info pull-right" data-toggle="modal"><i class="icon-plus"></i> Add New Item</a>
            </p>
            <div class="row">

                <div class="col-md-6">
                    <h4>@ViewBag.Dealer.Name</h4>
                    <p>
                        @ViewBag.Dealer.Address
                    </p>
                    <p>
                        @ViewBag.Dealer.Phone,  @ViewBag.Dealer.Email
                    </p>
                </div>


                <div class="col-md-6">
                    <p class="pull-right">
                        Date : @DateTime.Now<br>
                    </p>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
    <hr />



        <table class="table">
            <tr>

                <th>
                    @Html.DisplayName("Description")
                </th>
                <th>
                    @Html.DisplayName("Fee")
                </th>
                <th>
                    @Html.DisplayName("Registration Fee")
                </th>
                <th>
                    @Html.DisplayName("Total")
                </th>
                <th></th>
            </tr>
            @{
                double total = 0;
                double totalReg = 0;
                double grandTotal = 0;
                string Description = null;
            }
            @foreach (var item in ViewBag.DealerActivities)
            {
                var sum = item.Activity.Fee + item.Activity.RegistrationFee;

                total = total + item.Activity.Fee;
                totalReg = totalReg + item.Activity.RegistrationFee;
                grandTotal = grandTotal + sum;
                Description = Description + item.Activity.Description+"," ;

                <tr>

                    <td>
                        @item.Activity.Description
                    </td>
                    <td>
                        @item.Activity.Fee
                    </td>
                    <td>
                        @item.Activity.RegistrationFee
                    </td>
                    <td>
                        @sum
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "DealerActivities", new { id = item.Id }, null)" class="pull-right btn btn-default"><i class="icon-remove"></i> Remove</a>
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td></td>
                    <td><b>@String.Format("{0:0.00}", total)</b></td>
                    <td><b>@String.Format("{0:0.00}", totalReg)</b></td>
                    <td><b>@String.Format("{0:0.00}", grandTotal)</b></td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
@using (Html.BeginForm("Bill", "DealerActivities", new { id = ViewBag.Dealer.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">Bill Summary</div>

            <div class="clearfix"></div>
        </div>
        <div class="widget-content">
            <div class="padd">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Revenue Source</label>
                        <div class="col-md-4">
                            <input type="hidden" name="Description" value="@Description"/>
                            <input type="hidden" name="DealerId" value="@ViewBag.Dealer.Id"/>
                            @Html.DropDownList("RevenueSourceId", null, new { @class = "form-control col-md-6" })
                        </div>

                        <label class="control-label col-md-2">Billed Amount</label>
                        <div class="col-md-4">
                            <input type="text" name="BillAmount" value="@grandTotal" readonly class="form-control amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("Currency", new List<SelectListItem>
                                { new SelectListItem{Text="TZS", Value="TZS",Selected =true },
                                    new SelectListItem{Text="USD", Value="USD"}}, new { @class = "form-control" })

                            @Html.ValidationMessage("Currency", "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Expired Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div id="datetimepicker1" class="input-append">
                                @Html.TextBox("ExpiredDate", null, new { @class = "form-control dtpicker" })
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="btn btn-info btn-lg"></i>
                                </span>
                                @Html.ValidationMessage("ExpiredDate", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-foot">               
                <button type="submit" id="submit" class="pull-right btn btn-primary">Create Bill</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}

                        </div>
                    </div>
                </div>
              
            </div>
        </div>



       