@model IEnumerable<Misitu.Licensing.Dto.LicenseView>

@{
    ViewBag.ActiveMenu = "Harvest Licensing";
    ViewBag.Title = "Licenses";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Paid Licenses</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
            <a href="#" class="wclose"><i class="icon-remove"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayName("Serial Number")
                        </th>
                        <th>
                            @Html.DisplayName("Dealer")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Issued Date")
                        </th>

                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dealer)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            
                            @String.Format("{0:#,###0.00}", item.Amount)
                        </td>  
                        <td>
                            @Html.DisplayFor(modelItem => item.IssuedDate)
                        </td> 
                        <td>
                            <a href="@Url.Action("LicenceViewer", "License",new { id = item.Id})" class="pull-right btn btn-default">Print Preview</a>
                        </td>
                    </tr>
                }

            </table>
            </div>
      </div>
</div>

