@model IEnumerable<Misitu.Registration.Dto.DealerDto>

@{
    ViewBag.ActiveMenu = "Registration"; //The menu item will be active for this page.
    ViewBag.Title = "Dealers";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Online Registration Applications</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">


            <table class="table table-striped table-hover table-bordered">
                <tr>

                    <th>
                        @Html.DisplayName("Serial Number")
                    </th>

                    <th>
                        @Html.DisplayName("Applicant")
                    </th>

                    <th>
                        @Html.DisplayName("Address")
                    </th>
                    <th>
                        @Html.DisplayName("Phone")
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.Adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationTime)
                        </td>

                        <td>
                           <a href="@Url.Action("ApproveRegistration","Dealers", new { id = item.Id })"  class="btn btn-success" onclick="return confirm('Are you sure?');">Approve</a> 
                           <a href="@Url.Action("DenyRegistration", "Dealers", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure?');">Reject</a> 

                        </td>
                    </tr>
                }

            </table>
            </div>
        </div>
    </div>

