@model IEnumerable<Misitu.Registration.Dto.DealerDto>

@{
    ViewBag.ActiveMenu = "Registration"; //The menu item will be active for this page.
    ViewBag.Title = "Dealers";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Registered Dealers</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">           
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.SerialNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.TIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BusinessLicense)
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                                            
                        <td>
                            @Html.DisplayFor(modelItem => item.TIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusinessLicense)
                        </td>

                        <td>
                            @Html.ActionLink("View Certificate", "RegCertViewer", new { id = item.Id })                      

                        </td>

                    </tr>
                }

            </table>
            </div>
        </div>
    </div>
