@model IEnumerable<Misitu.Ranges.Dto.RangeDto>

@{
    ViewBag.Title = "Range List";
}


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division.Name)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.Name)
        </td>
        <td>
            @Html.ActionLink("Compartments", "Allocation", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
