@model IEnumerable<Misitu.PlotScalling.PlotDto>

@{
    ViewBag.ActiveMenu = "Plot Scalling"; //The menu item will be active for this page.
    ViewBag.Title = "Plots Allocation";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Compartment Name : @ViewBag.Compartment.Name </div>
        
        <div class="clearfix"></div>
    </div>
        <div class="widget-content">
            <div class="padd">
                <div class="form-horizontal">

                        <div class="col-md-12">
                            <table class="table table-bordered table-responsive table-hover">
                                <thead>
                                    <tr>

                                        <th>
                                            Plot
                                        </th>
                                        <th>
                                            No of Trees
                                        </th>
                                        <th>
                                            Volume [CMB]
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Loyality)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TFF)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LMDA)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CESS)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.VAT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TP)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TOTAL)
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                @{
                                    int trees = 0;
                                    double total = 0;
                                    double volume = 0;
                                    double loyality = 0;
                                    double lmda = 0;
                                    double cess = 0;
                                    double vat = 0;
                                    double tff = 0;
                                    double tp = 0;


                                }

                                @foreach (var item in Model)
                                {
                                    trees = trees + item.Trees;
                                    total = total + item.TOTAL;
                                    volume = volume + item.Volume;
                                    loyality = loyality + item.Loyality;
                                    lmda = lmda + item.LMDA;
                                    cess = cess + item.CESS;
                                    vat = vat + item.VAT;
                                    tff = tff + item.TFF;
                                    tp = tp + item.TP;

                                    <tr>
                                        

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Trees)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Volume)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.Loyality)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.TFF)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.LMDA)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.CESS)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.VAT)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.TP)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###0.00}", item.TOTAL)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "PlotDetails", "Compartments", new { id = item.Id }, null)
                                        </td>

                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <th>TOTAL</th>
                                        <th> @String.Format("{0:0}", trees)</th>
                                        <th>@String.Format("{0:#,###0.00}", volume)</th>
                                        <th>@String.Format("{0:#,###0.00}", loyality)</th>
                                        <th>@String.Format("{0:#,###0.00}", tff)</th>
                                        <th>@String.Format("{0:#,###0.00}", lmda)</th>
                                        <th>@String.Format("{0:#,###0.00}", cess)</th>
                                        <th>@String.Format("{0:#,###0.00}", vat)</th>
                                        <th>@String.Format("{0:#,###0.00}", tp)</th>
                                        <th>@String.Format("{0:#,###0.00}", total)</th>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                          
                        </div>
                    </div>
            </div>
            <div class="widget-foot">
                <a href="@Url.Action("Tallied","Compartments")" class="btn btn-default">Back</a>
                <div class="clearfix"></div>
            </div>
        </div>
    
</div>


