@model Misitu.Billing.Dto.CreateBillInput

@{
    ViewBag.ActiveMenu = "Transit Passes"; //The menu item will be active for this page.
    ViewBag.Title = "Transit Passes";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Create Transit Pass Bill For @ViewBag.Applicant.Name</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            <div class="form-horizontal">
           

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <input name="ApplicantId" value="@ViewBag.Applicant.Id" type="hidden" />
                            @Html.Label("Bill Description", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <textarea class="form-control" name="Description">The Transit Pass Bill for the below Forest Products</textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            @Html.Label("Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.DropDownListFor(model => model.Currency, new List<SelectListItem>
                                    { new SelectListItem{Text="TZS", Value="TZS",Selected =true },
                                        new SelectListItem{Text="USD", Value="USD"}}, new { @class = "form-control" })*@
                                <input type="text" name="Currency" value="TZS" class="form-control" readonly />

                                @Html.ValidationMessage("Currency", "", new { @class = "text-danger" })
                            </div>
                            </div>
                            <div class="form-group">   
                                @Html.Label("Revenue Source", htmlAttributes: new { @class = "control-label col-md-2" }) 
                                <div class="col-md-4">
                                    <select id="source" class="form-control">
                                        <option value="select">Select</option>
                                    </select>
                                    </div>

                                    @Html.Label("Sub Revenue Source", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select id="sub_source" name="ActivitySourceId" class="form-control">
                                            <option value="select">Select</option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                     
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                <input type="submit" value="Save & Continue" class="btn btn-primary pull-right" />
                            </div>
                        </div>
                 

                }
                </div>
            </div>
        </div>
    </div>

              
 @section scripts
{
    <script type="text/javascript">

        //Fetch Revenue sources
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetRevenueSources", "RevenueSources")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, obj) {
                    var div_data = "<option value=" + obj.Value + ">" + obj.Text + "</option>";
                    $('#source').append(div_data);
                });
            }
        });

        //get activities by revenue source 
        $('#source').change(function () {
            var RevenueSourceId = $('#source').val();
            var div_item = '';
            $.ajax({
                type: "GET",
                url: '/activities/getactivities/'+RevenueSourceId,
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        div_item = "<option value=" + item.Value + ">" + item.Text + "</option>";
                        $('#sub_source').append(div_item);

                    });
                }
            });
        });

     
    </script>
                }

