@model Misitu.TransitPasses.CreateTransitPassInput
@{
    ViewBag.ActiveMenu = "Transit Passes"; //The menu item will be active for this page.
    ViewBag.Title = "Transit Passes";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Create Transitpass for @ViewBag.Applicant.Name</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            <div class="form-horizontal">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" name="ApplicantId" value="@ViewBag.Applicant.Id" />
                            <input type="hidden" name="BillId" value="@ViewBag.Bill.Id" />
                            <input type="hidden" name="TransitPassNo" value="@ViewBag.TransitPassNo" />
                            <input type="hidden" name="OrginalCountry" value="Tanzania" />


                            <div class="form-group">
                                @Html.Label("Registration Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.RegistrationNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @class = "text-danger" })
                                </div>

                                @Html.Label("Licence Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.LisenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LisenceNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Source Forest", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("StationId", null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StationId, "", new { @class = "text-danger" })
                                </div>
                                @Html.Label("No of Consignment", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NoOfConsignment, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoOfConsignment, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IssuedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <input name="IssuedDate" value="@ViewBag.IssuedDate" class="form-control" readonly />
                                </div>
                                @Html.Label("Expire Days", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ExpireDays, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ExpireDays, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Source Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.SourceName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SourceName, "", new { @class = "text-danger" })
                                </div>
                                @Html.Label("Destination Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.DestinationName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DestinationName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Destination (Region)", htmlAttributes: new { @class = "control-label col-md-2"})
                                <div class="col-md-4">
                                    @Html.DropDownList("RegionId", null, new { @class = "form-control", @id = "region" })
                                </div>
                                @Html.Label("Destination (District)", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <select class="form-control" name="DistrictId" id="district">

                                    </select>
                                    @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Hummer Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.HummerNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HummerNo, "", new { @class = "text-danger" })
                                </div>
                                @Html.Label("Hummer Maker", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.HummerMaker, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HummerMaker, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Vehicle Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.VehcleNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VehcleNo, "", new { @class = "text-danger" })
                                </div>
                                @Html.Label("Addition Information", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.AdditionInformation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AdditionInformation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <fieldset><legend>Check Points</legend>


                                @foreach (var checkpoint in @ViewBag.Checkpoints)
                                {
                                    <div class="col-lg-2">
                                        <input type="checkbox" name="StationId[]" id="StationId[]" value="@checkpoint.Id" class="form-control pull-left" /> @checkpoint.Name
                                    </div>
                                }
                            </fieldset>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9">
                                    <input type="submit" value="Save & Continue" class="btn btn-primary pull-right" />
                                </div>
                            </div>

                    }

              </div>
</div>
</div>


@section scripts
{
        <script type="text/javascript">
        //get activities by revenue source
        $('#region').change(function () {
            var RegionId = $('#region').val();
            var div_item = '';
            $.ajax({
                type: "GET",
                url: '/districts/getdistrictsbyregionid/' + RegionId,
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        div_item = "<option value=" + item.Value + ">" + item.Text + "</option>";
                        $('#district').append(div_item);
                    });
                }
            });
        });


        </script>
    }