@model Misitu.Billing.Dto.CreateBillInput

@{
    ViewBag.ActiveMenu = "Transit Passes"; //The menu item will be active for this page.
    ViewBag.Title = "Transit Passes";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Create Transit Pass Bill For @ViewBag.Applicant.Name</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            <div class="form-horizontal">
           

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <input name="ApplicantId" value="@ViewBag.Applicant.Id" type="hidden" />
                            @Html.Label("Bill Description", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <textarea class="form-control" name="Description">The Transit Pass Bill for the below Forest Products</textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            @Html.Label("Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.DropDownListFor(model => model.Currency, new List<SelectListItem>
                                    { new SelectListItem{Text="TZS", Value="TZS",Selected =true },
                                        new SelectListItem{Text="USD", Value="USD"}}, new { @class = "form-control" })*@
                                <input type="text" name="Currency" value="TZS" class="form-control" readonly />

                                @Html.ValidationMessage("Currency", "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <table id="myTable" class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select name="ActivityId[]" class="form-control">
                                            @foreach (var item in ViewBag.activities)
                                            {
                                                <option value="@item.Id">@item.Description</option>
                                            }
                                        </select>
                                    </td>
                                    <td><input type="text" name="Quantity[]" class="form-control"></td>
                                    <td><input type="text" name="Amount[]" class="form-control"></td>
                                    <td><input type="text" class="form-control total" readonly /></td>
                                    <td></td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr id="totals">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total<input type="text" name="total" id="total" class="form-control" readonly /></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-success" id="addrow">Add</button>



                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary pull-right" />
                            </div>
                        </div>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>


                <table id="newrow" style="display:none">
                    <tr>
                        <td>
                            <select name="ActivityId[]" class="form-control">
                                @foreach (var item in ViewBag.activities)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            </select>
                        </td>

                        <td><input type="text" name="Quantity[]" class="form-control"></td>
                        <td><input type="text" name="Amount[]" class="form-control"></td>
                        <td><input type="text" class="form-control total" readonly /></td>
                        <td><button type="button" class="delete btn-danger">Delete</button>
                    </tr>
                </table>

 @section scripts
{
                    <script type="text/javascript">


                        var body = $('#myTable').children('tbody').first();

                        body.on('change', 'input[type="text"]', function () {

                            var cells = $(this).closest('tr').children('td');

                            var value2 = cells.eq(1).find('input').val();
                            var value3 = cells.eq(2).find('input').val();
                            cells.eq(3).children('input[type="text"]').val(new Number(value2) * new Number(value3));

                            var sum = 0;
                            $(".total").each(function () {
                                sum += new Number(this.value);
                            });
                            sum = new Number(sum);

                            $('#total').val(sum);
                        });

                        $('#addrow').click(function () {
                            var clone = $('#newrow').clone();
                            // update indexers etc.
                            var newrow = clone.find('tr');
                            body.append(newrow);
                        });

                        body.on('click', '.delete', function () {
                            var row = $(this).closest('tr');
                            row.remove();
                            var sum = 0;
                            $(".total").each(function () {
                                sum += new Number(this.value);
                            });
                            sum = new Number(sum);

                            $('#total').val(sum);

                        });


                    </script>
                }

