@model Misitu.TransitPasses.TransitPassDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransitPassDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrginalCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrginalCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfConsignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfConsignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LisenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LisenceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransitPassNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransitPassNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceForest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceForest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehcleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehcleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerOfficer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerOfficer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HummerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HummerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HummerMaker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HummerMaker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HummerStationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HummerStationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleterUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifierUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
