@model IEnumerable<Misitu.Applicants.ApplicantDto>

@{
    ViewBag.ActiveMenu = "Transit Passes"; //The menu item will be active for this page.
    ViewBag.Title = "Transit Passes";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Applicants</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            <div class="form-horizontal">
                <table class="table table-bordered">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Adress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.ActionLink("Issue Transit Pass", "CreateBill", new { id = item.Id })

                            </td>
                        </tr>
                    }

                </table>

                </div>
            </div>
        </div>
    </div>

