
@model Misitu.Billing.Dto.BillItemModel

@{
    ViewBag.Title = "Bills";
    ViewBag.ActiveMenu = "Billing";

}


<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Bill Details</div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            <div class="row">

                <fieldset class="col-md-6">
                    <legend>Bill Info</legend>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><label>Bill Payer</label></td>
                                <td><input class="form-control" readonly value="@Model.Bill.Applicant.Name" /></td>
                            </tr>
                            <tr>
                                <td><label>Bill Description</label></td>
                                <td><textarea class="form-control" readonly>@Model.Bill.Description</textarea></td>
                            </tr>
                            <tr>
                                <td><label>Issued Date</label></td>
                                <td><input class="form-control" readonly value="@Model.Bill.IssuedDate.ToShortDateString()" /></td>
                            </tr>

                            <tr>
                                <td><label>Expired Date</label></td>
                                <td><input class="form-control" readonly value="@Model.Bill.ExpiredDate.ToShortDateString()" /></td>
                            </tr>
                        </tbody>
                    </table>
                    </fieldset>

                <fieldset class="col-md-6">


                    <legend>Bill Summary</legend>
                    <table class="table table-bordered col-md-5">
                        <tbody>
                            <tr>
                                <td><label>Currency </label></td>
                                <td><input class="form-control" readonly value="@Model.Bill.Currency" /></td>
                            </tr>
                            <tr>
                                <td><label>Bill Amount</label></td>
                                <td><input class="form-control" readonly value="@Model.Bill.BillAmount" /></td>
                            </tr>
                            <tr>
                                <td><label>Paid Amount</label></td>
                                <td><input class="form-control" readonly value="@Model.Bill.PaidAmount" /></td>
                            </tr>
                        </tbody>
                    </table>
                    </fieldset>

               
                <fieldset class="col-md-12">
                  
                 <legend>Bill Items</legend>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td><b>@item.Total</b></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                       
                </fieldset>

             
                </div>
                </div>

        <div class="widget-foot">
            <a href="@Url.Action("BillViewer", "Bills",new { id = Model.Bill.Id })" class="pull-right btn btn-default">Print Preview</a>
            <div class="clearfix"></div>
        </div>

            </div>
        </div>
      




      
