@model Misitu.RevenueSources.Dto.CreateRevenueSourcesInput

@{
    ViewBag.ActiveMenu = "Setup"; //The menu item will be active for this page.
    ViewBag.Title = "Revenue Source";
}


<div class="widget">
    <div class="widget-head">
        <div class="pull-left">New Revenue Source</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        
        </div>
        <div class="clearfix"></div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="widget-content">
            <div class="padd">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
            <div class="widget-foot">
                <a href="@Url.Action("Index")" class="pull-left btn btn-default">
                    <i class="icon-backward"></i> Back
                </a>
                <button type="submit" class="pull-right btn btn-primary"><i class="icon-save"></i> Save</button>
                <div class="clearfix"></div>
            </div>
        </div>

    }
    </div>


            
