
@using Abp.Collections.Extensions
@using Misitu.Web.Views
@model Misitu.Web.Models.Layout.TopMenuViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + url;
    });
}
@foreach (var menuItem in Model.MainMenu.Items)
{

        if (menuItem.Items.IsNullOrEmpty())
        {
            <li class="@(Model.ActiveMenuItemName == menuItem.Name ? "active" : "")">
                <a href="@calculateMenuUrl(menuItem.Url)">
                    @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                    @menuItem.DisplayName
                </a>
                </li>
    }
    else
    {
        
            <li class="@(Model.ActiveMenuItemName == menuItem.Name ? "active" : "")">
                <a  href="@calculateMenuUrl(menuItem.Url)" >
                    @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                    @menuItem.DisplayName
                    <span class="pull-right"><i class="icon-chevron-right"></i></span>
                </a>
                           
            </li>
            }
        }

