@model  Misitu.Applicants.Dto.CreateInput

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="pull-left"><span>Registration Form</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="padd">
            <div class="form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="Type" class="col-sm-3 control-label">Application Type</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("Type", null, " ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Adress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">TIN</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.TIN, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TIN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Are you Tanzania</label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="IsTanzanian" id="IsTanzanian" checked />
                                </label>
                            </div>

                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">ID Type</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.IDtype,null,null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDtype, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">ID Number</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.IDNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Issued Place</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.IDIssuePlace, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDIssuePlace, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthDate" class="col-sm-3 control-label">Date of Issue</label>
                        <div class="col-sm-9">
                            <input type="date" id="birthDate" name="IDExpiryDate" class="form-control">
                            @Html.ValidationMessageFor(model => model.IDExpiryDate, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-3 pull-right">
                            <button type="submit" class="btn btn-primary btn-block">Save & Continue</button>
                        </div>
                    </div>
                } <!-- /form -->
            
            </div> 
            </div>
        </div>
    </div>
            <!-- ./container -->
