@using Microsoft.AspNet.Identity
@using Misitu.Web.Areas.Client.Helpers

@if (Request.IsAuthenticated)
{

   
  
 <li><a href="@Url.Action("Index", "Dashboard")"><i class="menu-icon icon-home"></i> Home</a></li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="menu-icon icon-inbox"></i>Application for Registration <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("ApplyForRegistration","Applicant")">New Application</a></li>
            <li><a href="@Url.Action("ApplicationDetails", "Applicant")">My Application</a></li>
            <li class="divider"></li>

        </ul>
    </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="menu-icon icon-th"></i>Harvesting <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("ForestProduceRegistration","Application")">New Application</a></li>
                <li><a href="@Url.Action("myApplications","Application")">My Applications</a></li>
                <li class="divider"></li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="menu-icon icon-th"></i>Export/Import <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Create","Export")">New Application</a></li>
                <li><a href="@Url.Action("Index","Export")">My Applications</a></li>
                <li class="divider"></li>

            </ul>
        </li>

        <li><a href="@Url.Action("ApplicantProfile", "Applicant")"><i class="menu-icon icon-eye-open"></i> Profile</a></li>


}