@model IEnumerable<Misitu.Species.Dto.SpecieCategoryDto>

@{
    ViewBag.ActiveMenu = "Setup"; //The menu item will be active for this page.
    ViewBag.Title = "Specie Categories";
}

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Species Categories</div>
        <div class="pull-right">
            <a href="@Url.Action("Create")">
                <small class="text-info"><i class="icon-plus"></i> Create New</small>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">
        <div class="padd">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>