@model IEnumerable<Misitu.PlotScalling.Dto.HarvestingPlanDto>


<table class="table table-bordered table-hover table-striped">
    <tr>

        <th>
            @Html.DisplayName("Station")
        </th>
        <th>
            @Html.DisplayName("Financial Year")
        </th>
       
        <th>
            @Html.DisplayName("Harvesting Plan")
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Station.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialYear.Name)
            </td>
          
            <td>
                @Html.ActionLink("Download", "Download", new { id = item.Id }) 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

