@model Misitu.PlotScalling.Dto.CreateHarvestingPlanInput

@{
    ViewBag.ActiveMenu = "Setup"; //The menu item will be active for this page.
    ViewBag.Title = "Harvesting Plan";
}
<div class="widget">
    <div class="widget-head">
        <div class="pull-left">New  Harvesting Plan</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>

@using (Html.BeginForm("Create", "HarvestingPlan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()

        <div class="widget-content">
            <div class="padd">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Station", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">

                            @Html.DropDownList("StationId", null, " ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StationId, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Harvesting Plan", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input class="form-control" type="file" id="path" name="path" />

                        </div>
                    </div>

                </div>

            </div>
            <div class="widget-foot">            
                <input type="submit" value="Upload" class="pull-right btn btn-primary" />
                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>

<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Harvesting Plans</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

            @Html.Action("Lists","HarvestingPlan")
            </div>
        </div>
    </div>

