@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>TFMIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    @Styles.Render("~/Bundles/template/css")

    <!-- View specific styles -->
    @RenderSection("styles", required: false)
  
  
    @Scripts.Render("~/Bundles/vendor/js/top")
    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="js/html5shim.js"></script>
    <![endif]-->

</head>


<body>

    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

        <div class="conjtainer">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>Menu</span>
                </button>
                <!-- Site name for smallar screens -->
                <a href="#" class="navbar-brand hidden-lg">TFS-MIS</a>
            </div>


            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">

                    <!-- Sync to server link -->
                    <li class="dropdown dropdown-big">


                    </li>

                </ul>
                <!-- Search form -->
                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    @Html.Action("UserMenuOrLoginLink", "Layout")

                </ul>
            </nav>

        </div>
    </div>


    <!-- Header starts -->
    <header>
        @Html.Action("Header", "Home")
    </header>

    <!-- Header ends -->
    <!-- Main content starts -->

    <div class="content">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
            <ul id="nav">
                @Html.Action("SideMenu", "Layout", new { activeMenu = ViewBag.ActiveMenu })

            </ul>
        </div>

        <!-- Sidebar ends -->
        <!-- Main bar -->
        <div class="mainbar">

            <!-- Page heading -->
            <div class="page-head">
                <h2 class="pull-left"><i class="icon-home"></i> @ViewBag.Title</h2>

                <!-- Breadcrumb -->
                <div class="bread-crumb pull-right">
                    <a href="index.html"><i class="icon-home"></i> Home</a>
                    <!-- Divider -->
                    <span class="divider">/</span>
                    <a href="#" class="bread-current">Dashboard</a>
                </div>

                <div class="clearfix"></div>

            </div>
            <!-- Page heading ends -->
            <!-- Matter -->

            <div class="matter">
                <div class="container">
                    @{Html.RenderPartial("Message");}
                    @if (ViewBag.ActiveMenu != "Home")
                    {
                        <div class="row">
                            <div class="col-lg-2">@Html.Action("SideMenuItem", "Layout", new { activeMenu = ViewBag.ActiveMenu })</div>
                            <div class="col-lg-10">@RenderBody()</div>
                        </div>
                    }
                    else
                    {
                        @RenderBody();
                    }

                </div>
            </div>

            <!-- Matter ends -->

        </div>

        <!-- Mainbar ends -->
        <div class="clearfix"></div>

    </div>
    <!-- Content ends -->
    <!-- Footer starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright info -->
                    <p class="copy">Copyright &copy; @DateTime.Now.Year | <a href="http://tfs.go.tz" target="_blank">TFS</a> </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

    @Scripts.Render("~/Bundles/template/js")
    @Scripts.Render("~/Bundles/vendor/js/bottom")
    @Scripts.Render("~/Bundles/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <script>

        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    <!-- Scripts for this page -->
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)


</body>



</html>
