@model Misitu.Species.Dto.SpecieDto

@{
    ViewBag.ActiveMenu = "Setup"; //The menu item will be active for this page.
    ViewBag.Title = "Edit Specie";
}


@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()


<div class="widget">
    <div class="widget-head">
        <div class="pull-left">Edit Specie</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-content">
        <div class="padd">

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)



                    <div class="form-group">
                        @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.DropDownList("SpecieCategoryId", null, " ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SpecieCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CommonName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CommonName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CommonName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SwahiliName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SwahiliName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SwahiliName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
         

        </div>
        <div class="widget-foot">
            <a href="@Url.Action("Index")" class="pull-left btn btn-default">
                <i class="icon-backward"></i> Back
            </a>
            <button type="submit" class="pull-right btn btn-primary"> Update</button>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
}