@model Misitu.Applicants.ApplicantDto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicantDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTanzanian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTanzanian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDIssuePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDIssuePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleterUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifierUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
